.accountContainer {
  display: flex;
}

.infoContainer {
  padding: 20px;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  font-weight: bold;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.saveButton {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #cc7a00;
}
